  
        
        *{margin:0;padding:0;}
        ul,ol{list-style:none;}
        img,video{vertical-align:top;}
        a{text-decoration:none;}
        
        
        header{
            border:1px #F00 solid;
            height:80px;
            position:fixed;
            width:100%;
            z-index:100;
        }
        
        header>div{
            border:1px #F00 solid;
            background-color: #fff;
            overflow:hidden;
        }
        
        .gnb {
            height:80px;
            background-color: #000;
            padding:0 30px;
         }
         
         .gnb .logo{
             border:1px #F00 solid;
             float:left;
         }
         .gnb .site-option{
             border:1px #F00 solid;
             height:80px;
             width:200px;
             float:right;
         }
         .gnb .menu{
             
             border:1px #F00 solid;
             height:80px;
             width:1100px;
             margin:0 auto;
         }
         .gnb .menu>ul>li{
             outline:1px #F00 solid;
             width:220px;
             float:left;
             text-align:center;
         }
         
         .gnb .menu>ul>li div{
             padding:30px 0;
         }
         .gnb .menu>ul>li li{
             line-height:45px;
         }
         
         .gnb .menu>ul>li div{
             display:none;
         }
         
         
         
         .gnb .menu>ul>li>a{
             line-height:80px;
             color:#FFF;
             text-transform:uppercase;
             white-space:nowrap;
             font-family: 'Oswald', sans-serif;
         }
         
         .gnb .site-option{
             font-size:0;
         }
         
         .gnb .site-option a{
             text-align:center;
             font-size:14px;
             display:inline-block;
             vertical-align:top;
            
             height:35px;
             outline:1px #F00 solid;
          }
          
          .gnb .site-option a.home{
              width:40px;
              text-indent:-9999px;
              background-color:#666;
              background-image:url(http://www.tkgroup.co.kr/kor/_Img/Layout/home-ico.png);
              background-repeat:no-repeat;
              background-position:center;
          }
           .gnb .site-option a.lang-en{
               width:45px;
               line-height:35px;
               color:#FFF;
               background-color:#086c6d;
           }
           .gnb .site-option a.sitemap{
               font-size:0;
               text-align:right;
               width:40px;
           }
           
           .gnb .site-option a.sitemap span{
               line-height:100%;
               margin:3px 0;
               display:inline-block;
               width:32px;
               height:4px;
               background-color: #fff;
               
           }
           
           .gnb .site-option a.sitemap:hover span:first-child{
               animation: aniline1 1s infinite;
           }
           .gnb .site-option a.sitemap:hover span:first-child+span{
               animation: aniline2 1s infinite;
           }
           .gnb .site-option a.sitemap:hover span:first-child+span+span{
               animation: aniline1 1.5s infinite;
           }
           
           @keyframes aniline1 {
               0% { width:22px; }
               50% {width:32px;  }
               100% { width:22px; }
           }
           @keyframes aniline2 {
               0% { width:22px; }
               80% {width:32px;  }
               100% { width:22px; }
           }
          
           
        
        .intro{
            background-color: #CCC; 
            height:700px;
            position:relative;
            z-index:-1;
            overflow:hidden;
            width:100%;
            transition:1s;
            }
        .intro .titler{
            top:0;
            right:0;
            bottom:0;
            left:0;
            z-index:10;
            position:absolute;
            text-align:center;
        }    
        .intro .titler:before{
            content:"";
            display:inline-block;
            height:100%;
            vertical-align:middle;
        }
        .intro .titler img{
            position:relative;
            top:100px;
            vertical-align:middle;
            transition:1s;
        }
            
            
        .intro video{
            height:100%;
            
        }
        .overview div{
            float:left;
            width:33.333333%;
            padding-bottom:22.333333%;
            border:1px #F00 solid;
            box-sizing: border-box;
        }
        
        
        
        
        
        
        @media screen and (max-width:1000px) {
            html{
                overflow-x: hidden;
            }
            header{
                position:static;
            }
            header>div{
                overflow:visible;
            }
            
            .gnb .menu{
                position:absolute;
                right:-223px;
                height:100%;
                width:223px;
                background-color:#FFF;
            }
            .gnb .menu>ul>li{
                background-color:#FFF;
                text-align:left;
            }
            
            .gnb .menu>ul>li>a{
               
                color:#000;
                line-height:68px;
            }
            
            .gnb .menu>ul li a{
                 padding:0 20px;
            }
            
            .gnb .menu>ul>li div{
                padding:0 ;
            }
            .gnb .menu>ul>li:hover div{
                display:block;
            }
            
            
            .gnb .menu>ul>li li{
                background-color:#EEE;
                border-top:1px #CCC solid;
            }
            
            
            .intro video{
                border:1px #F00 solid;
            }
            
        }
        
        @media screen and (max-width:800px){
            .intro{
                height:500px;
            }
            
            .intro .titler img{
                margin-top:50px;
            }
        }
        
         @media screen and (max-width:800px){
            .intro{
                height:500px;
            }
            
            .intro .titler img{
                margin-top:50px;
            }
        }
        